# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.pytest_cache/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.lock
*.prebuilt

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Mobile specific
*.ipa
*.apk
*.ap_
